<% layout("layouts/boilerplate") %>

<div class="row justify-content-center">
  <div class="col-md-8">

    <h2 class="mb-4 text-center">Edit your Listing</h2>

    <form novalidate class="needs-validation" action="/listings/<%= listing._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

      
      <div class="form-group">
        <label>Title</label>
        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required minlength="3">
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title must be at least 3 characters.</div>
      </div>

   
      <div class="form-group">
        <label>Description</label>
        <textarea name="listing[description]" class="form-control" rows="3" required minlength="10"><%= listing.description %></textarea>
        <div class="valid-feedback">Description looks good!</div>
        <div class="invalid-feedback">Description must be at least 10 characters.</div>
      </div>

      <div class="mb-3">Original Listing Image
        <img src="<%= listing.image.url %>" class="img-fluid d-block mt-2" style="max-height: 200px;">
      </div>

    
      <div class="form-group">
        <label>Image Link</label>
        <input type="file" name="listing[image]"  class="form-control" >
        <div class="valid-feedback">Valid image URL!</div>
        <div class="invalid-feedback">Please provide a valid image URL.</div>
      </div>

      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Price</label>
          <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required min="1">
          <div class="valid-feedback">Price looks good!</div>
          <div class="invalid-feedback">Price must be greater than 0.</div>
        </div>

        <div class="form-group col-md-6">
          <label>Country</label>
          <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required minlength="3">
          <div class="valid-feedback">Country looks good!</div>
          <div class="invalid-feedback">Country must be at least 3 characters.</div>
        </div>
      </div>

      
      <div class="form-group">
        <label>Location</label>
        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required minlength="3">
        <div class="valid-feedback">Location looks good!</div>
        <div class="invalid-feedback">Location must be at least 3 characters.</div>
      </div>

      <button class="btn btn-danger px-4 mt-3">Edit</button>

    </form>

  </div>
</div>
